@charset "UTF-8";

label{
	font-family: serif;
	font-size: 15px;
	font-weight: bold;
}


body{
	text-align: center;
}

div{
	margin-bottom: 5px;
}
button{
	width: 30%;
	background-color: blue;
	color: white;
	border: 5px;
	padding: 6px;
	border-radius: 20px;
}

label{
	padding-bottom: 5px;
}

input:not(#g){
	border-radius: 6px;
	border-width: 1px;
}
input[type="text"]{
	height: 20px;
}

input[type="radio"]{
	padding-right: 3px; 
}
